<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<h3>You have received Bitcoin from <%= sourceEmail %></h3>
<p>We have set up your account on Bento Wallet so that you can receive and spend it.</p>
<p>To access it, please visit <%= sails.config.custom.baseUrl %> and login using your email.</p>
<p>The password is "<span style="color: darkgrey"><%= password %></span>"</p>
<p>This email also contains "mnemonic phrase" to your account. This is an access/recovery feature of Bitcoin wallets.</p>
<p>Please keep it safe and don't share it with anyone.</p>
<div style="margin: auto; box-sizing: border-box; min-width: 0px; padding: 1.25rem; background-color: rgba(21, 61, 111, 0.44); color: rgb(33, 114, 229); border-radius: 12px; width: fit-content;">
    <% for(var i=0; i < mnemonic.length; i++) { %>
        <p style="margin: 0"><%= i + 1 %>. <%= mnemonic[i] %></p>
    <% } %>
</div>
<p style="margin-bottom: 0px;">All the best,</p>
<p style="margin-top: 0px;">The Bento Team</p>
